<div class="row">
    <div class="col-md-12">

        <loading #loading></loading>

        <mat-card *ngIf="!loadingComponent.isVisible()">
            <mat-card-header *ngIf="logs.length > 0">
                <mat-card-title>Lista de acciones de usuarios</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <th>Usuario</th>
                                    <th>IP</th>
                                    <th>Fecha</th>
                                    <th>Acción</th>
                                    <th>Coleción</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let log of logs">
                                        <td>{{ log.fullName }}</td>
                                        <td>{{ log.ip }}</td>
                                        <td>
                                            {{ log.date | amLocale:'es' | amDateFormat:'DD MMMM YYYY, h:mm a'}}
                                        </td>
                                        <td>{{ log.action }}</td>
                                        <td>{{ log.nameCollection }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <empty-collection [showComponent]="logs?.length === 0"></empty-collection>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>